# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Logs
logs/
*.log

# Build
dist/
build/
.dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright
.playwright/
test-results/
playwright-report/
